<form action="/sessions/new" method="POST">
  <h2>Log In</h2>
  <label for="username">username</label>
  <input type="text" name="user[username]">
  <br>
  <br>
  <label for="password">password</label>
  <input type="password" name="user[password]">
  <input class="t-light-green" type="submit" value="Log in">
</form>
