.left {
  float: left;
}
.right {
  float: right;
}
header {
  margin: 0 auto;
  margin-bottom: 0;
  width: 50%;
  height: 70px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
nav {
  margin: 0 auto;
  width: 50%;
  height: 20px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
nav ul {
  margin: 0;
  padding: 10px 0;
}
nav ul li {
  display: inline-block;
  padding-right: 25px;
}
.container {
  margin: 0 auto;
  width: 50%;
  padding: 20px 20px 20px 20px;
  border: 1px dotted black;
}
/*.editor {
  padding: 0;
  margin: 20px 0;
}
.editor li {
  display: inline-block;
  margin-right: 7px;
}
.review-list ul {
  list-style: none;
}*/

