<h2>Register and enjoy!</h2>

<% if @errors %>
  <% @errors.each do |error| %>
  <%= erb :"/_error", locals: { error: error } %>
  <% end %>
<% end %>

<form method="post" action="/users">
  <label for="first_name">First Name:</label>
  <input type="text" name="user[first_name]">

  <label for="last_name">Last Name:</label>
  <input type="text" name="user[last_name]"><br>

  <label for="email">Email:</label>
  <input type="email" name="user[email]"><br>

  <label for="password">Password:</label>
  <input type="password" name="user[password]">
  <input type="submit" value="Register">
</form>
