<ul class="navigation">
  <li class="active"><a href="/">Home</a></li>
  <% if logged_in? %>
  <li><a href="#">Add new thing</a></li>
    <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
    <li>
      <form method="post" action="/logout">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    </li>
  <% else %>
    <li><a href="/users/new">Register</a></li>
    <li><a href="/sessions/new">Login</a></li>
  <% end %>
</ul>
