<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap -->
<!--   <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/signin.css"> -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Title</title>
</head>
<body>
  <header>
    <h1 class="left">Name</h1>
  </header>
  <nav>
    <%= erb :_nav %>
  </nav>
  <main class="container">
    <%= yield %>
  </main>
</body>
</html>
